In [1]:
# Done so far
# ***************
#1. basic describe
#2. convert to date
#3. split date and time for dropoff and pickup, but keep original too
#4. merge files with weather data 




# references
# https://beckernick.github.io/neural-network-scratch/ - NN
# https://stackoverflow.com/questions/33957720/how-to-convert-column-with-dtype-as-object-to-string-in-pandas-dataframe
# https://stackoverflow.com/questions/14745022/pandas-dataframe-how-do-i-split-a-column-into-two
# https://stackoverflow.com/questions/32204631/how-to-convert-string-to-datetime-format-in-pandas-python
# https://stackoverflow.com/questions/15736995/how-can-i-quickly-estimate-the-distance-between-two-latitude-longitude-points
# https://stackoverflow.com/questions/34962104/pandas-how-can-i-use-the-apply-function-for-a-single-column

import numpy as np
import sklearn as sk
import pandas as pd

import csv
from pprint import pprint

# for trying out algos -try nn
# will also try regression, ridge regression etc
import tensorflow as tf
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# read n train data
train = pd.read_csv('train.csv')

In [3]:
# high level data 
print(train.head())
print(train.shape)
print(train.describe())
print(train.dtypes)

          id  vendor_id      pickup_datetime     dropoff_datetime  \
0  id2875421          2  2016-03-14 17:24:55  2016-03-14 17:32:30
1  id2377394          1  2016-06-12 00:43:35  2016-06-12 00:54:38
2  id3858529          2  2016-01-19 11:35:24  2016-01-19 12:10:48
3  id3504673          2  2016-04-06 19:32:31  2016-04-06 19:39:40
4  id2181028          2  2016-03-26 13:30:55  2016-03-26 13:38:10

   passenger_count  pickup_longitude  pickup_latitude  dropoff_longitude  \
0                1        -73.982155        40.767937         -73.964630
1                1        -73.980415        40.738564         -73.999481
2                1        -73.979027        40.763939         -74.005333
3                1        -74.010040        40.719971         -74.012268
4                1        -73.973053        40.793209         -73.972923

   dropoff_latitude store_and_fwd_flag  trip_duration
0         40.765602                  N            455
1         40.731152                  N            663
2         40.710087                  N           2124
3         40.706718                  N            429
4         40.782520                  N            435
(1458644, 11)
          vendor_id  passenger_count  pickup_longitude  pickup_latitude  \
count  1.458644e+06     1.458644e+06      1.458644e+06     1.458644e+06
mean   1.534950e+00     1.664530e+00     -7.397349e+01     4.075092e+01
std    4.987772e-01     1.314242e+00      7.090186e-02     3.288119e-02
min    1.000000e+00     0.000000e+00     -1.219333e+02     3.435970e+01
25%    1.000000e+00     1.000000e+00     -7.399187e+01     4.073735e+01
50%    2.000000e+00     1.000000e+00     -7.398174e+01     4.075410e+01
75%    2.000000e+00     2.000000e+00     -7.396733e+01     4.076836e+01
max    2.000000e+00     9.000000e+00     -6.133553e+01     5.188108e+01

       dropoff_longitude  dropoff_latitude  trip_duration
count       1.458644e+06      1.458644e+06   1.458644e+06
mean       -7.397342e+01      4.075180e+01   9.594923e+02
std         7.064327e-02      3.589056e-02   5.237432e+03
min        -1.219333e+02      3.218114e+01   1.000000e+00
25%        -7.399133e+01      4.073588e+01   3.970000e+02
50%        -7.397975e+01      4.075452e+01   6.620000e+02
75%        -7.396301e+01      4.076981e+01   1.075000e+03
max        -6.133553e+01      4.392103e+01   3.526282e+06
id                     object
vendor_id               int64
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
store_and_fwd_flag     object
trip_duration           int64
dtype: object

In [4]:
# split 

#train['dropoff_datetime'] = train['dropoff_datetime'].astype('str') 
#train['pickup_datetime'] = train['pickup_datetime'].astype('str') 
print(train.dtypes)

train['dropoff_date'], train['dropoff_time'] = train['dropoff_datetime'].str.split(' ', 1).str
train['pickup_date'], train['pickup_time'] = train['pickup_datetime'].str.split(' ', 1).str

# https://stackoverflow.com/questions/14745022/pandas-dataframe-how-do-i-split-a-column-into-two
train.head()
#df['stats'].str[1:-1].str.split(',', expand=True).astype(datetime)

id                     object
vendor_id               int64
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
store_and_fwd_flag     object
trip_duration           int64
dtype: object

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,dropoff_date,dropoff_time,pickup_date,pickup_time
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,2016-03-14,17:32:30,2016-03-14,17:24:55
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,2016-06-12,00:54:38,2016-06-12,00:43:35
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,2016-01-19,12:10:48,2016-01-19,11:35:24
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,2016-04-06,19:39:40,2016-04-06,19:32:31
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,2016-03-26,13:38:10,2016-03-26,13:30:55

In [5]:
# convert to date dtype
train['dropoff_datetime'] = pd.to_datetime(train['dropoff_datetime'])
train['dropoff_date'] = pd.to_datetime(train['dropoff_date'])
train['dropoff_time'] = pd.to_datetime(train['dropoff_time'])
train['pickup_datetime'] = pd.to_datetime(train['pickup_datetime'])
train['pickup_date'] = pd.to_datetime(train['pickup_date'])
train['pickup_time'] = pd.to_datetime(train['pickup_time'])

In [6]:
train.dtypes

id                            object
vendor_id                      int64
pickup_datetime       datetime64[ns]
dropoff_datetime      datetime64[ns]
passenger_count                int64
pickup_longitude             float64
pickup_latitude              float64
dropoff_longitude            float64
dropoff_latitude             float64
store_and_fwd_flag            object
trip_duration                  int64
dropoff_date          datetime64[ns]
dropoff_time          datetime64[ns]
pickup_date           datetime64[ns]
pickup_time           datetime64[ns]
dtype: object

train.head()

In [7]:
import datetime
# create time that rounds to nearest 30 minutes
# https://stackoverflow.com/questions/32344533/how-do-i-round-datetime-column-to-nearest-quarter-hour
train['pickup_datetime_round_30'] = train['pickup_datetime'].apply(lambda dt: datetime.datetime(dt.year, dt.month, dt.day, dt.hour))
train['doproff_datetime_round_30'] = train['dropoff_datetime'].apply(lambda dt: datetime.datetime(dt.year, dt.month, dt.day, dt.hour))

In [8]:
train.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,dropoff_date,dropoff_time,pickup_date,pickup_time,pickup_datetime_round_30,doproff_datetime_round_30
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,2016-03-14,2017-08-28 17:32:30,2016-03-14,2017-08-28 17:24:55,2016-03-14 17:00:00,2016-03-14 17:00:00
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,2016-06-12,2017-08-28 00:54:38,2016-06-12,2017-08-28 00:43:35,2016-06-12 00:00:00,2016-06-12 00:00:00
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,2016-01-19,2017-08-28 12:10:48,2016-01-19,2017-08-28 11:35:24,2016-01-19 11:00:00,2016-01-19 12:00:00
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,2016-04-06,2017-08-28 19:39:40,2016-04-06,2017-08-28 19:32:31,2016-04-06 19:00:00,2016-04-06 19:00:00
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,2016-03-26,2017-08-28 13:38:10,2016-03-26,2017-08-28 13:30:55,2016-03-26 13:00:00,2016-03-26 13:00:00

In [9]:
# https://stackoverflow.com/questions/43577086/process-elements-with-same-id/43577275#43577275
#https://stackoverflow.com/questions/29545704/fast-haversine-approximation-python-pandas
# add distance types
import math

# 1. euclidean distance
import pandas as pd
import numpy as np



def haversine_np(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.    

    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

In [10]:
train['edist'] = haversine_np(train['pickup_longitude'],train['pickup_latitude'],train['dropoff_longitude'],train['dropoff_latitude'])

In [11]:
train.edist.head()

0    1.497580
1    1.804374
2    6.381090
3    1.484566
4    1.187842
Name: edist, dtype: float64

In [12]:
#simple euclidean distance
# https://stackoverflow.com/questions/39147379/euclidean-distance-of-points-coordinates-in-pandas-dataframe

#df['edist2'] = np.sqrt( (train.x1-train.x2)**2 + (train.y1-train.y2)**2 + (train.z1-train.z2)**2)
df['edist2'] = np.sqrt( (train.pickup_latitude-train.dropoff_latitude)**2 + (train.pickup_longitude-train.dropoff_longitude)**2 + (train.z1-train.z2)**2)

AttributeError: 'DataFrame' object has no attribute 'z1'

In [ ]:
train.head()

In [ ]:
# merge the weather data
# https://pandas.pydata.org/pandas-docs/stable/merging.html

#import weather data
weather = pd.read_csv('weather.csv')

In [ ]:
# high level data 
print(weather.head())
print(weather.shape)
print(weather.describe())
print(weather.dtypes)

In [ ]:
# convert weather dates from string to datetime

weather['pickup_datetime'] = pd.to_datetime(weather['Time'])

In [ ]:
#reformat round datetime so it only picks up for the tens of minutes
# create time that rounds to nearest 30 minutes
# https://stackoverflow.com/questions/32344533/how-do-i-round-datetime-column-to-nearest-quarter-hour
weather['pickup_datetime_round_30'] = weather['pickup_datetime'].apply(lambda dt: datetime.datetime(dt.year, dt.month, dt.day, dt.hour))

In [ ]:
weather.shape

In [ ]:
weather.head()

In [ ]:
# delete weather duplicates
# https://stackoverflow.com/questions/32093829/pythonpandas-removing-duplicates-based-on-two-columns-keeping-row-with-max-va

weather_dist = weather.drop_duplicates(['pickup_datetime_round_30'], keep='last')

In [ ]:
weather_dist.shape

In [ ]:
# weather_dist with pickup column name
# https://stackoverflow.com/questions/34049618/how-to-add-a-suffix-to-each-column-name
weather_dist_pu = weather_dist.add_suffix('_pu')
weather_dist_do = weather_dist.add_suffix('_do') 


# rename columns to they are keys
# sameple: df = df.rename(columns={'oldName1': 'newName1'
weather_dist_pu = weather_dist_pu.rename(columns={'pickup_datetime_round_30_pu','pickup_datetime_round_30' })                        
weather_dist_do = weather_dist_do.rename(columns={'pickup_datetime_round_30_do','dropoff_datetime_round_30' })

In [ ]:
# prep for second weather merge for drop off weather
weather_dist_do.head()

In [ ]:
# merge the data
# https://stackoverflow.com/questions/18792918/pandas-combining-2-data-frames-join-on-a-common-column
#https://pandas.pydata.org/pandas-docs/stable/merging.html
# https://stackoverflow.com/questions/21786490/pandas-left-outer-join-multiple-dataframes-on-multiple-columns


trainm = pd.merge(train, weather_dist, on='pickup_datetime_round_30', how='left')
trainm_pickup = pd.merge(train, weather_dist, on='pickup_datetime_round_30', how='left')
trainm_pu = pd.merge(train, weather_dist_pu, on='pickup_datetime_round_30', how='left')
trainm_pudo = pd.merge(trainm_pu, weather_dist_do, on='dropoff_datetime_round_30', how='left') #joins pu and no

In [ ]:
#normalise

trainm_pickup.shape

In [ ]:
trainm_pickup.head()

In [ ]:
trainm_pudo.shape

In [ ]:
trainm_pudo.head()

In [ ]:
# start to normalise or is there more data missing?

In [ ]:
np.random.seed(12)
num_observations = 1458644